@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import "tailwindcss";
@plugin "daisyui";


* {
  box-sizing: border-box;
}

@layer components {
    .form-text-select {
      @apply text-white pb-[14px] pt-[14px] focus:outline-none bg-transparent w-full border-b border-transparent;
    }
  
    .form-text-select:focus {
      @apply border-b border-white bg-transparent text-white;
    }
  
    .form-text-select option {
      @apply text-black;
    }
  }

  .figma-headline {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 4rem; /* 64px in FIGMA */ 
    font-weight: 400;
    letter-spacing: 0%; 
    line-height: 5.8125rem; /* 93px in FIGMA */
  }
  
  .figma-headline-2 {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 2.5rem; /* 40px in FIGMA */ 
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 3.625rem; /* 58px in FIGMA */  
  }
  
  .figma-headline-3 {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 1.5rem; /* 24px in FIGMA */ 
    font-weight: 400;
    letter-spacing: 0%; 
    line-height: 2.1875rem; /* 35px in FIGMA */   
  }
  
  .figma-headline-4 {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 1rem; /* 16px in FIGMA */ 
    font-weight: 400;
    letter-spacing: 0%; 
    line-height: 1.4375rem; /* 23px in FIGMA */   
  }