img{width: 50px;}
.rutulis{background-color: brown;
    height: 50px;
  width: 60px;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  position: absolute;
  top: 200px;
  left: 200px;
  border-radius: 50%;
  padding-top: 10px;
}
.krepselis{
    position: absolute;
    left: 244px;
    top: 185px;

}
.zodziai{position: absolute;
left: 295px;
top: 185px;
font-size: 40px;
}